################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/ZakajiPoints-TBCA.slnx/v18/DocumentLayout.json
/.vs/ZakajiPoints-TBCA.slnx/v18/.wsuo
